body {
    background-color: rgb(0, 137, 228);
    font: normal 15pt arial;
}

header {
    text-align: center;
    color: white;
}



section {
    background-color: rgba(255, 255, 255, 0.889);
    min-width: 320px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.401);
    padding: 15px;
}

div#msg{
    margin-bottom: 10px;
}


    
   



footer > p {
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic ;
    font-weight:normal ;
    color: white;
    text-align: center;
    font-size: 1.3em;
    
}